// Main SCSS entry: import order matters

@use './abstracts' as *;

// Vendors first so we can override later
@use './vendors';

// Base styles
@use './base';

// Layout
@use './layout';

// Components
@use './components';

// Pages / Views
@use './pages';

.hidden {
  display: none;
}
