.container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 100dvw;
  padding: 2rem;
  background-color: red;
}

/* Фільтри */
.filters {
  display: flex;
  gap: 8px;
  margin-bottom: 16px;
}

.filter {
  background: #1e1e1e;
  border: none;
  border-radius: 16px;
  padding: 6px 14px;
  font-size: 14px;
  color: #aaa;
  cursor: pointer;
  transition: background 0.2s ease;
}

.filter:hover {
  background: #2a2a2a;
}

.filter.active {
  background: #3b82f6;
  color: #fff;
}

/* Картки */
.card {
  background: #bdbdbd;
  border-radius: 8px;
  padding: 12px;
  box-shadow: 0 2px 6px rgba(177, 176, 176, 0.4);
}

.card.completed {
  background-color: rgba(105, 105, 105, 0.637);
}

.card.in-progress {
  border: 2px solid #5d8ddb;
}

.bookmark {
  float: right;
  cursor: pointer;
}

.marked {
  filter: invert(39%) sepia(98%) saturate(749%) hue-rotate(203deg) brightness(91%) contrast(86%);
  color: yellow;
}

.title {
  margin: 0;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  color: #fff;
  text-decoration: underline;
}

.author {
  margin: 4px 0;
  font-size: 13px;
  color: #aaa;
}

.progress {
  margin-top: 6px;
  background: #333;
  height: 6px;
  border-radius: 4px;
  overflow: hidden;
  grid-column-start: 0;
  grid-row-start: 3;
}

.progress-bar {
  background: #3b82f6;
  /* синій */
  height: 100%;
  transition: width 0.3s ease;
}

.steps {
  margin-top: 4px;
  font-size: 12px;
  color: #ccc;
}
